 {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

 
    
body {
    font-family:sans-serif, ariel, helvetica; 
    background-color:#111;
    color:white;
    font-size: 16px;
    font-weight:100
    
    
}

p {
    margin-bottom: 16px;
}




 h1 {
    font-family:sans-serif,arial,helvetica;
    font-size: 32px;
    font-weight:100; 
    margin-top: 100px;
    
}
    

h2 {
    font-family:sans-serif,arial,helvetica;

    font-size:16px;
    font-weight:100  
}


h3 { 
color:#999999;

}


aside { 
 float:left;
    margin: 0 75% 0 0
}
 nav {
    font-size:18px;
    margin-top: 40px;
   font-family:'Lato';
}
        
 a {
    margin-right: 20px;
    text-decoration: none; 
}

 nav a:link{color:#999999;}
nav  a:visited{color:#999999;}
nav a:hover {color:white}
 nav a:active{color:white}
nav  a:focus {}


a:link{color:white;}  a:visited{color:white;}
a:hover {color:#999}
a:active{color:white}
a:focus {}

article {
    font-family:sans-serif;
    clear: both;
    font-weight:100;
    padding: 0 10px 0 10px;
}

article h1{
font-size: 36px;
    line-height: 44px;
}

article h2{
font-size: 24px;
    line-height: 30px
}


.bio { 
padding-bottom:10px;

}

footer{
    color:white;
    font-size: 10px; 
     padding-top:40px;
}

