 {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

 
    
body {
    background-color:#111;
    color:white;
    font-size: 16px;
    line-height: 24px;
    
}

p {
    margin-bottom: 16px;
}


header {
    height: 185px;
    
}

 h1 {
    font-family:sans-serifarial,helvetica;
    font-size: 32px;
    font-weight:100; 
    margin-top: 100px;
    
}
    
h2 {
    font-family:sans-serif,arial,helvetica;
    float:left;
    font-size:16px;
    font-weight:100  
}
  
aside { 
 float:left;
    margin: 0 75% 0 0
}
 nav {
   float: left;
    margin-top: 35px;
   font-family:'Lato';
}
        
 a {
    margin-right: 20px;
    text-decoration: none; 
}

 a:link{color:white;}
 a:visited{color:white;}
 a:hover {}
 a:active{
}
 a:focus {}

article {
    font-family:sans-serif;
    clear: both;
    font-weight:100;
    padding: 0 10px 0 10px;
}

article h1{
font-size: 36px;
    line-height: 44px;
}

article h2{
font-size: 24px;
    line-height: 30px
}

footer{
    color:white;
    font-size: 10px; 
     padding: 0 10px 0 10px;
}

